[Desktop Entry]
Version=1.0
Name=Firefox Focus Url Handler
Exec=/usr/share/desktop-config/hyprland/scripts/firefox-url-focus.sh %U
Terminal=false
Type=Application
MimeType=text/html;text/xml;application/xhtml+xml;application/vnd.mozilla.xul+xml;text/mml;x-scheme-handler/http;x-scheme-handler/https;
