* {all: unset}


.powermenu {
  border: 4px solid white;
  border-radius: 3px;
  background-color: black;

  font-size: x-large;
}

.media{
  background-color: black;
  border-radius: 0;
  border: 2px solid white;
}

.media label {
  color: red;
}


label {
  font-family: "VCR OSD Mono";
  background-color: transparent;
}


.inactive {
  border: red 20px solid;
}

button {
  background-color: black;
  border: white 4px solid;
  transition-duration: 0.2s;
}
button:hover{
  background-color: gray;
  transition-duration: 0.2s;
}